trigger:
  - main

pool:
  vmImage: ubuntu-latest

steps:
  # Using https://github.com/microsoft/azure-pipelines-terraform tasks https://marketplace.visualstudio.com/items?itemName=ms-devlabs.custom-terraform-tasks
  - task: ms-devlabs.custom-terraform-tasks.custom-terraform-installer-task.TerraformInstaller@1 # Need full name to avoid naming clash with other extension
    inputs:
      terraformVersion: "latest"

  - task: TerraformTask@5
    displayName: Terraform init
    inputs:
      provider: "azurerm"
      command: "init"
      backendServiceArm: "sp-postgresql-apps-australiaeast"
      backendAzureRmResourceGroupName: "rg-tfdemo-state-australiaeast"
      backendAzureRmStorageAccountName: "sttfdemostateausteast"
      backendAzureRmContainerName: "postgresql-containerapps-tfstate"
      backendAzureRmKey: "terraform.tfstate"
      commandOptions: -input=false
